html{
  scroll-behavior: smooth;
}

.list{
  width: 500px;
  border: 5px solid #6e9299;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
  background:#6e9299;
}


.wrapper{
  width:650px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color:#387e8c;
}

.center{
  width:500px;
  margin-left: auto;
  margin-right:auto;
  display: block;
}

.stacysmom{
  width:150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.the-middle{
  width:150px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.ocean-avenue{
  width:150px;
  margin-left: auto;
  margin-right:auto;
  display: block;
}

.atst{
  width:150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.buddy-holly{
  width:150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.butterflies{
  width:150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.eighteen{
  width:150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.american-idiot{
  width:150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hard-times{
  width:150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.volde-mort{
  width:150px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}


body{
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  color:#e4e895;
  background-color:#22889c;
}


a{
  color:#e4e895;
  text-decoration: none;
}
a:hover{
  color: #85cbd9;
  text-decoration: underline;
}

#top{
  text-align:center;
}

.eightteen{
  width: 500px;
  border: 5px solid #6e9299;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
  background:#6e9299;
}

.voldemort{
  width: 500px;
  border: 5px solid #6e9299;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
  background:#6e9299;

}

.hardtimes{
  width: 500px;
  border: 5px solid #6e9299;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
  background:#6e9299;
}

.idiot{
  width: 500px;
  border: 5px solid #6e9299;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
  background:#6e9299;
}

.black-butterflies{
  width: 500px;
  border: 5px solid #6e9299;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
  background:#6e9299;
}

.buddy{
  width: 500px;
  border: 5px solid #6e9299;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
  background:#6e9299;
}

.small-things{
  width: 500px;
  border: 5px solid #6e9299;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
  background:#6e9299;
}

.middle{
  width: 500px;
  border: 5px solid #6e9299;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
  background:#6e9299;
}

.ocean{
  width: 500px;
  border: 5px solid #6e9299;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
  background:#6e9299;
}

.stacys-mom{
  width: 500px;
  border: 5px solid #6e9299;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
  background:#6e9299;
}
